* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.page {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
}
.inputwrapper {
  display: flex; 
  flex-direction: column;
  max-width: 100px;
}
.textareawrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
label, button {
  font-size: 20px;
}
input {
  padding: 10px;
}
#xmlbox {
  width: 500px;
  height: 250px;
  padding: 10px;
}
button {
  width: fit-content;
  padding: 10px;
}
table {
  background-color: lightgray;
  overflow-y: scroll;
  display: flex;
}

